.title-adminpage {
    color: #FF553B;
}

.img-table {
    width: 70px;
    height: 60px;
}

.button-crud-adminpage {
    background-color: #61b647 !important;
    color: white !important;
    margin: 5px !important;
}

.button-crud-delete-adminpage {
    background-color: #FF0000 !important;
    color: white !important;
    margin: 5px !important;
}

.button-add-modal {
    background-color: #FF553B !important;
    color: aliceblue !important;
    width: 100%;
}

.readonly-field {
    background-color: #e9ecef;
    color: #495057;
    border: 1px solid #ced4da;
    cursor: not-allowed;
}

.readonly-field:focus {
    box-shadow: none;
    outline: none;
}

.custom-pagination .page-item.active .page-link {
    background-color: #FF553B;
    border-color: grey;
}

.custom-pagination .page-link {
    color: black;
}

.custom-pagination {
    margin-top: -30px;
    margin-right: 20px;
}