.title-adminpage {
    color: #FF553B;
}

.img-table{
    width: 70px;
    height: 60px;
}

.button-crud-adminpage {
    background-color: #FF553B !important;
    color: white !important;
    margin: 5px !important;
}

.button-add-modal {
    background-color: #FF553B !important;
    color: aliceblue !important;
    width: 100%;
}
